<template>
  <section class="hero is-fullheight"
           :style="{ backgroundImage: `url(${require(`@/assets/images/bg-background.jpg`)})` }">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-mobile is-vcentered">
          <div class="column is-4 clue-text">
            <h1 class="title has-text-weight-bold">Find Clues in the Title</h1>

            <p class="content has-text-weight-bold" v-html="instructions[instructionIndex].text"></p>

            <transition enter-active-class="animated fadeIn">
              <button class="button is-green is-medium is-rounded is-next" @click="goNext"
                      v-if="showNextButton || instructionIndex === 0">
                <span class="button-icon">★</span>
                <span> Next </span>
              </button>
            </transition>

            <button class="button is-red is-medium is-rounded" @click="goBack" v-if="instructionIndex !== 0">
              <span class="button-icon">★</span>
              <span> Back </span>
            </button>
          </div>

          <div class="column is-5">
            <div class="is-poem has-text-centered">
              <h1 class="title">Palmistry</h1>
              <h2 class="subtitle">by Gilbert Koh</h2>

              <p class="content is-text" :key="item.paragraph" v-for="item in poem" v-html="item.paragraph"></p>
            </div>
          </div>

          <div class="column is-3 is-info">
            <div :key="info.title" v-for="info in instructions[1].infos">
              <div :id="`info${info.id}`" class="card">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img :src="require(`@/assets/icons/${info.image}`)" alt="">
                      </figure>
                    </div>

                    <div class="media-content">
                      <span>{{ info.title }}</span>
                      <p> {{ info.text }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'clue',
    data () {
      return {
        instructionIndex: 0,
        instructions: [
          {
            text: '<p class="content">This title is quite straightforward: Palmistry. It might remind you of someone who reads palms. Could this be what the poem is about?</p>' +
            '<p class="content">We can check if the title tells us enough about the main ideas in the poem by looking at the words in the rest of the text.</p>'
          },
          {
            showHighlights: true,
            text: 'Click on some of the hidden words in the poem that you associate with a palm-reader.',
            infos: [
              {
                id: 0,
                title: 'Hand',
                image: 'hand-icon.png',
                text: 'This is often the focus of the palm-reading session.'
              },
              {
                id: 1,
                title: 'Discover',
                image: 'discover-icon.png',
                text: 'People go to palm-readers to find out more about their life and their future.'
              },
              {
                id: 2,
                title: 'Health, Fame and Fortunes',
                image: 'health-icon.png',
                text: 'These words describe what many people go to palm-readers and fortune-tellers to find out.'
              },
              {
                id: 3,
                title: 'Love',
                image: 'love-icon.png',
                text: 'This is what many people would want to find out: how will their love life turn out?'
              },
              {
                id: 4,
                title: 'Lines',
                image: 'lines-icon.png',
                text: 'Palm-reading is all about the lines on one’s palm and what that says about one’s life. How valid do you think this is?'
              }
            ]
          },
          {
            text: '<p class="content">We know that palmistry is a recurring idea in this poem, and possibly the main idea. </p>' +
            '<p class="content">The structure and style of the poem, including its diction and imagery, also help us understand the main idea better.</p>'
          }
        ],
        poem: [
          {
            id: 0,
            paragraph: 'So take my <span class="active-word" data-index="0">hand</span> and hold it, </br> bend it gently to the light.',
            selected: false
          },
          {
            id: 1,
            paragraph: '<span class="active-word" data-index="1">Discover</span> me, in a way </br> that I do not know myself.',
            selected: false
          },
          {
            id: 2,
            paragraph: 'Speak what you will, of my </br> <span class="active-word" data-index="2">health, fame and fortunes</span>,',
            selected: false
          },
          {
            paragraph: 'but know that I will put a finger </br> to your gentle lips,',
            selected: true
          },
          {
            id: 3,
            paragraph: 'if on <span class="active-word" data-index="4">love</span>, you try to say </br> the things I should not know,',
            selected: false
          },
          {
            paragraph: 'like where you\'re going to </br> and how I will stay behind',
            selected: true
          },
          {
            id: 4,
            paragraph: 'how our separate ways </br> are written in these <span class="active-word" data-index="6">lines</span>.',
            selected: false
          }
        ]
      }
    },
    computed: {
      showNextButton () {
        return this.poem.every(item => item.selected === true)
      }
    },
    mounted () {
      const activeWords = this.$el.querySelectorAll('.active-word')

      activeWords.forEach(activeWord => {
        activeWord.addEventListener('mouseover', this.onMouseOver, false)
        activeWord.addEventListener('click', this.onClick, false)
        activeWord.addEventListener('mouseleave', this.onMouseLeave, false)
      })
    },
    methods: {
      onMouseOver (ev) {
        if (this.instructionIndex > 0) {
          if (ev.target.style.color === 'brown') {
            ev.target.style.fontWeight = 'bold'
            ev.target.style.color = 'brown'
          } else {
            ev.target.style.fontWeight = 'bold'
            ev.target.style.color = '#A3ED'
            ev.target.style.cursor = 'pointer'
          }
        }
      },
      onMouseLeave (ev) {
        if (ev.target.style.color === 'brown') {
          ev.target.style.fontWeight = 'bold'
          ev.target.style.color = 'brown'
          ev.target.style.cursor = 'pointer'
        } else {
          ev.target.style.fontWeight = ''
          ev.target.style.color = ''
        }
      },
      onClick (ev) {
        if (this.instructionIndex > 0) {
          ev.target.style.color = 'brown'

          document.getElementById('info' + this.poem[ev.target.dataset.index].id).style.visibility = 'visible'

          this.poem[ev.target.dataset.index].selected = true
        }
      },
      goNext () {
        if (this.instructionIndex >= this.instructions.length - 1) {
          this.$router.push('/inference')
        } else {
          this.instructionIndex++
        }
      },
      goBack () {
        this.instructionIndex--
      }
    }
  }
</script>

<style lang="scss" scoped>
  .section {
    overflow-y: hidden;
  }

  .clue-text {
    .title {
      font-size: 2.5em;
      font-weight: bold;
      line-height: 120%;
    }
    .content {
      line-height: 130%;
      font-size: 1.5em;
    }
  }

  .is-green {
    width: 90%;
    transition: none;
  }

  .is-red {
    margin-top: 5%;
    width: 90%;
  }

  #info0, #info1, #info2, #info3, #info4 {
    visibility: hidden;
    transition: all 1s;
  }

  .card {
    margin-bottom: 1%;
    .card-content {
      padding: 0;

      .media {
        padding: 3%;

        .media-left {
          margin: auto;
        }

        .media-content {
          margin-left: 3%;

          span {
            font-weight: bold;
          }

          p {
            font-size: 0.9em;
          }
        }
      }
    }
  }
</style>
