<template>
  <section class="hero is-fullheight"
           :style="{ backgroundImage: `url(${require(`@/assets/images/bg-background.jpg`)})` }">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-mobile is-vcentered" v-if="instructionIndex !== 4">
          <div class="column is-5 is-connect-text">
            <div class="is-poem is-activity-one has-text-centered" v-if="instructionIndex === 1 && firstActivity">
              <div v-if="isFirstCorrect === null">
                <div class="columns" v-if="firstMatch">
                  <div class="column is-5">
                    <h1 class="title is-capitalized">Word: {{ firstMatch }}</h1>
                  </div>

                  <div class="column">
                    <h1 class="title">Choose a Stanza to match.</h1>
                  </div>
                </div>

                <div class="columns" v-if="firstQuizId">
                  <div class="column is-5">
                    <h1 class="title">Stanza: {{ firstQuizId }}</h1>
                  </div>

                  <div class="column">
                    <h1 class="title">Choose a Word to match.</h1>
                  </div>
                </div>

                <div class="columns" v-if="!firstMatch && !firstQuizId">
                  <h1 class="title column">Begin with choosing a word or a stanza.</h1>
                </div>
              </div>

              <div class="columns" v-if="isFirstCorrect === true">
                <h1 class="title column">You got it correct!</h1>
              </div>

              <div class="columns" v-if="isFirstCorrect === false">
                <h1 class="title column">That is incorrect.</h1>
              </div>
            </div>

            <h1 class="title text-title">Connect the Dots</h1>

            <p class="content text-content has-text-weight-bold" v-html="instruction.text"></p>

            <div class="buttons is-centered" v-if="instruction.words">
              <button class="button is-purple is-medium is-rounded is-capitalized" :class="word"
                      :key="word" v-for="word in instruction.words" @click="getFirstMatch(word)">
                {{ word }}
              </button>
            </div>

            <div class="columns is-multiline is-mobile" v-if="instructionIndex === 1">
              <div class="column is-12">
                <button class="button is-green is-medium is-rounded is-next" @click="goNext"
                        v-if="firstCorrectCounter % 5 === 0">
                  <span class="button-icon">★</span>
                  <span> Next </span>
                </button>
              </div>

              <div class="column is-12">
                <button class="button is-red is-medium is-rounded" @click="goBack">
                  <span class="button-icon">★</span>
                  <span v-if="instructionIndex === 0"> Back to Diction & Imagery </span>
                  <span v-else> Back </span>
                </button>
              </div>
            </div>

            <div class="columns is-multiline is-mobile" v-else>
              <div class="column is-12">
                <button class="button is-green is-medium is-rounded is-next" @click="goNext">
                  <span class="button-icon">★</span>
                  <span> Next </span>
                </button>
              </div>

              <div class="column is-12">
                <button class="button is-red is-medium is-rounded" @click="goBack">
                  <span class="button-icon">★</span>
                  <span v-if="instructionIndex === 0"> Back to Diction & Imagery </span>
                  <span v-else> Back </span>
                </button>
              </div>
            </div>
          </div>

          <div class="column is-offset-1 is-5">
            <div class="is-poem has-text-centered">
              <h1 class="title">Palmistry</h1>

              <div class="content paragraph" :key="item.paragraph" v-for="item in poem">
                <p class="is-text"> {{ item.paragraph }}</p>

                <button class="button is-purple active-match" :key="item.selected"
                        v-if="instructionIndex === 1 && item.first" :class="item.first"
                        @click="getFirstMatchData(item)">
                  <span class="icon"><i class="fas fa-question-circle"></i></span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="columns is-mobile is-vcentered" v-else>
          <div class="column is-4">
            <h1 class="title">Connect the Dots</h1>

            <p class="content text-content has-text-weight-bold" v-html="instruction.text"></p>

            <div class="buttons is-centered" v-if="instruction.words">
              <button class="button is-purple is-medium is-rounded active-button is-capitalized" :key="word"
                      :class="word" v-for="word in instruction.words" @click="findCorrectSecond(word)">
                {{ word }}
              </button>
            </div>

            <div class="columns is-multiline is-mobile">
              <div class="column is-12">
                <button class="button is-green is-medium is-rounded is-next" @click="goNext">
                  <span class="button-icon">★</span>
                  <span> Next </span>
                </button>
              </div>

              <div class="column is-12">
                <button class="button is-red is-medium is-rounded" @click="goBack">
                  <span class="button-icon">★</span>
                  <span v-if="instructionIndex === 0"> Back to Diction & Imagery </span>
                  <span v-else> Back </span>
                </button>
              </div>
            </div>
          </div>

          <div class="column is-5">
            <div class="is-poem has-text-centered">
              <h1 class="title">Palmistry</h1>

              <div class="content paragraph" :key="item.paragraph" v-for="item in poem">
                <p class="is-text"> {{ item.paragraph }}</p>

                <button class="button is-purple active-match" :key="item.selected" v-if="instructionIndex === 1"
                        :class="item.first" @click="getFirstMatchData(item.first)">
                  <span class="icon"><i class="fas fa-question-circle"></i></span>
                </button>
              </div>
            </div>
          </div>

          <div class="column is-3">
            <div class="notification content" :class="[ isSecondCorrect ? 'is-green' : 'is-red' ]"
                 v-if="isSecondCorrect !== null">

              <div v-if="isSecondCorrect === true">
                <h1 class="title has-text-centered">{{ isSecondCorrectText }}</h1>
              </div>

              <div v-if="isSecondCorrect === false">
                <h1 class="title has-text-centered">That is incorrect.</h1>

                <p>{{ isSecondCorrectText }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'ConnectDots',
    data () {
      return {
        instructionIndex: 0,
        firstActivity: false,
        firstCorrectCounter: 0,
        firstMatch: '',
        firstQuiz: '',
        firstQuizId: '',
        matchText: null,
        isFirstCorrect: null,
        isSecondCorrect: null,
        isSecondCorrectText: '',
        instructions: [
          {
            text: '<p class="content">Now that you have taken note of some details in the poem, consider the way they come together.</p>' +
            '<p class="content">First, let’s look at the tone in different parts of the poem.</p>'
          },
          {
            hasWords: true,
            text: '<p class="content">Match the word describing a particular tone to the correct position in the poem. You can click on either the word or the stanza first. Then click on the corresponding tone/stanza next.</p>',
            words: ['teasing', 'inviting', 'pondering', 'poignant', 'firm']
          },
          {
            text: '<p class="content">Now, look at the words that describe tone in various parts of the poem and consider how you might put them together. What are some words you might use to describe the poet’s use of tone in the poem?</p>' +
            '<p class="content">Notice that some of the words you have here seem like opposites to each other: how does one sound "firm", yet "pondering"?</p>'
          },
          {
            text: '<p class="content">Perhaps this is exactly the tension that the poet tries to convey. There is some hesitation and uncertainty that the speaker has; he/she does not seem sure of the response he/she might get.</p>' +
            '<p class="content">Some of you might be familiar with that feeling: does he/she like me? Am I leaving a good enough impression? Will he/she accept me?</p>' +
            '<p class="content">The words we might use to describe the overall tone of the poem should hence try to capture that ball of emotions.</p>'
          },
          {
            hasWords: true,
            text: '<p class="content">What are some words you would use to describe the tone in this poem? Click on all that apply.</p>',
            words: ['tentative', 'hesitant', 'happy', 'poignant', 'coy', 'sarcastic', 'annoyed', 'bitter'],
            correctText: ['That’s right!', 'Well done!', 'You got it correct!', 'Yes indeed!'],
            wrongWords: ['happy', 'sarcastic', 'annoyed', 'bitter'],
            wrongText: ['The overall tone of this poem is more complex than just that of happiness. The words and images in this poem do not suggest something absolute enough to give one a clear sense of being happy.',
              'Nope, there doesn’t seem to be any sarcasm in this poem. The speaker is not being sharp or critical in his words. Quite the opposite, actually!',
              'There is no sense of annoyance in this poem, despite the fact that the relationship between the speaker and the person he/she is speaking to is perhaps not very clear. If anything, we as the reader might get a little annoyed, but that is not the tone of the poem here.',
              'That is incorrect. While this poem does not end with a clearly happy ending, the speaker does not come across as being too bitter. His choice of words does not suggest any bitterness.'
            ]
          }
        ],
        poem: [
          {
            id: 1,
            paragraph: 'So take my hand and hold it, \n bend it gently to the light.',
            first: 'firm'
          },
          {
            id: 2,
            paragraph: 'Discover me, in a way \n that I do not know myself.',
            first: 'inviting'
          },
          {
            id: 3,
            paragraph: 'Speak what you will, of my \n health, fame and fortunes,'
          },
          {
            id: 4,
            paragraph: 'but know that I will put a finger \n to your gentle lips,',
            first: 'teasing'
          },
          {
            id: 5,
            paragraph: 'if on love, you try to \n say the things I should not know,',
            first: 'pondering'
          },
          {
            id: 6,
            paragraph: 'like where you\'re going to \n and how I will stay behind'
          },
          {
            id: 7,
            paragraph: 'how our separate ways \n are written in these lines.',
            first: 'poignant'
          }
        ]
      }
    },
    computed: {
      instruction () {
        return this.instructions[this.instructionIndex]
      }
    },
    methods: {
      goNext () {
        if (this.instructionIndex >= this.instructions.length - 1) {
          this.$router.push('/summary')
        } else {
          this.instructionIndex++
        }
      },
      goBack () {
        if (this.instructionIndex === 0) {
          this.$router.push('/diction')
        } else {
          this.instructionIndex--
        }
      },
      getFirstMatch (word) {
        this.isFirstCorrect = null
        this.firstMatch = word
        this.firstActivity = true

        this.findCorrectFirst()
      },
      getFirstMatchData (item) {
        this.isFirstCorrect = null
        this.firstActivity = true
        this.firstQuiz = item.first
        this.firstQuizId = item.id

        this.findCorrectFirst()
      },
      findCorrectFirst () {
        const correctMatch = this.$el.querySelectorAll(`.${this.firstMatch}`)

        if (this.firstMatch && this.firstQuiz !== '') {
          if (this.firstMatch === this.firstQuiz) {
            correctMatch.forEach(match => {
              match.style.backgroundColor = '#ffe96a'
              match.style.pointerEvents = 'none'
              match.style.mixBlendMode = 'multiply'
              match.style.color = 'black'
            })
            this.firstMatch = ''
            this.firstQuiz = ''
            this.firstQuizId = ''
            this.firstCorrectCounter++
            this.isFirstCorrect = true
          } else {
            this.firstMatch = ''
            this.firstQuiz = ''
            this.firstQuizId = ''
            this.isFirstCorrect = false
          }
        }
      },
      findCorrectSecond (word) {
        const correctSecondMatch = this.$el.querySelectorAll(`.${word}`)

        if (this.instruction.wrongWords.includes(word)) {
          const check = word

          correctSecondMatch.forEach(match => {
            match.style.backgroundColor = '#ff7b76'
            match.style.pointerEvents = 'none'
            match.style.mixBlendMode = 'normal'
            match.style.color = '#2b2b2b'
          })

          this.isSecondCorrect = false

          switch (check) {
            case 'happy':
              this.isSecondCorrectText = this.instruction.wrongText[0]
              break
            case 'sarcastic':
              this.isSecondCorrectText = this.instruction.wrongText[1]
              break
            case 'annoyed':
              this.isSecondCorrectText = this.instruction.wrongText[2]
              break
            case 'bitter':
              this.isSecondCorrectText = this.instruction.wrongText[3]
              break
          }
        } else {
          const check = word
          correctSecondMatch.forEach(match => {
            match.style.backgroundColor = '#8affae'
            match.style.pointerEvents = 'none'
            match.style.mixBlendMode = 'normal'
            match.style.color = '#2b2b2b'
          })

          this.isSecondCorrect = true
          this.isSecondCorrectText = ''

          switch (check) {
            case 'tentative':
              this.isSecondCorrectText = this.instruction.correctText[0]
              break
            case 'hesitant':
              this.isSecondCorrectText = this.instruction.correctText[1]
              break
            case 'poignant':
              this.isSecondCorrectText = this.instruction.correctText[2]
              break
            case 'coy':
              this.isSecondCorrectText = this.instruction.correctText[3]
              break
          }
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .tags {
    > .tag {
      cursor: pointer;
    }
  }

  .is-connect-text {
    .text-title {
      line-height: 120%;
      font-size: 2.5em;
    }
  }

  .text-content {
    line-height: 130%;
    font-size: 1.5em;
  }

  .is-activity-one {
    margin-bottom: 5%;
    padding: 3% 0;

    h1 {
      font-size: 1.5em;
      line-height: 100%;
    }
  }

  .paragraph {
    position: relative;

    .active-match {
      position: absolute;
      left: 10%;
      top: 0;
      width: inherit;
      border-radius: 5px;
    }
  }

  .is-purple {
    &:hover {
      background-color: #ffd7ad;
      color: #2b2b2b;
    }
  }

  .notification {
    color: #2b2b2b;
    mix-blend-mode: normal;
    padding: 10% 5%;
  }
</style>
