<template>
  <section class="hero is-fullheight" :style="{ backgroundImage: `url(${require(`@/assets/images/bg-background.jpg`)})` }">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-mobile is-vcentered">
          <div class="column diction-text">
            <h1 class="title has-text-weight-bold">Analyse diction & imagery</h1>

            <p class="content has-text-weight-bold" v-html="instructions[instructionIndex].text"></p>

            <div class="buttons">
              <button class="button is-green is-medium is-rounded is-next" @click="goNext" v-if="showNextButton">
                <span class="button-icon">★</span>
                <span> Next </span>
              </button>

              <button class="button is-red is-medium is-rounded" @click="goBack">
                <span class="button-icon">★</span>
                <span v-if="instructionIndex === 0"> Back to Inference </span>
                <span v-else> Back </span>
              </button>
            </div>
          </div>

          <div class="column is-5 is-offset-1">
            <div class="is-poem has-text-centered">
              <h1 class="title">Palmistry</h1>

              <p class="content is-text" :key="item.paragraph" v-for="item in poem" v-html="item.paragraph"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Diction',
    data () {
      return {
        instructionIndex: 0,
        instructions: [
          {
            text: '<p class="content">What stands out about the poet’s choice of words -diction- in the poem?</p>' +
            '<p class="content">One thing you might have noticed is the use of imperatives in the first three stanzas. Imperatives are action words (verbs) that are made to sound like commands.</p>' +
            '<p class="content"><strong>Click</strong> on the imperatives you see in the first three stanzas.</p>'
          },
          {
            text: '<p class="content">What sort of tone does the use of imperatives set?</p>' +
            '<p class="content">Often, commands sound firm, confident, and sometimes even harsh. But is that the tone here?</p>' +
            '<p class="content">In order to get a good sense of the overall tone in this poem, we need to compare the use of imperatives with the images that the poem creates.</p>'
          }
        ],
        poem: [
          {
            paragraph: 'So <span class="active-word" data-index="0">take</span> my hand and <span class="active-word" data-index="1">hold</span> it, </br> <span class="active-word" data-index="2">bend</span> it gently to the light.',
            selected: false
          },
          {
            paragraph: '<span class="active-word" data-index="3">Discover</span> me, in a way </br> that I do not know myself.',
            selected: false
          },
          {
            paragraph: '<span class="active-word" data-index="4">Speak</span> what you will, of my </br> health, fame and fortunes,',
            selected: false
          },
          {
            paragraph: 'but know that I will put a finger </br> to your gentle lips,',
            selected: false
          },
          {
            paragraph: 'if on love, you try to say </br> the things I should not know,',
            selected: false
          },
          {
            paragraph: 'like where you\'re going to </br> and how I will stay behind',
            selected: true
          },
          {
            paragraph: 'how our separate ways </br> are written in these lines.',
            selected: true
          }
        ]
      }
    },
    computed: {
      showNextButton () {
        return this.poem.every(item => item.selected === true)
      }
    },
    mounted () {
      const activeWords = this.$el.querySelectorAll('.active-word')

      activeWords.forEach(activeWord => {
        activeWord.addEventListener('mouseover', this.onMouseOver, false)
        activeWord.addEventListener('click', this.onClick, false)
        activeWord.addEventListener('mouseleave', this.onMouseLeave, false)
      })
    },

    methods: {
      onMouseOver (ev) {
        if (ev.target.style.color === 'brown') {
          ev.target.style.fontWeight = 'bold'
          ev.target.style.color = 'brown'
        } else {
          ev.target.style.fontWeight = 'bold'
          ev.target.style.color = '#A3ED'
          ev.target.style.cursor = 'pointer'
        }
      },
      onMouseLeave (ev) {
        if (ev.target.style.color === 'brown') {
          ev.target.style.fontWeight = 'bold'
          ev.target.style.color = 'brown'
          ev.target.style.cursor = 'pointer'
        } else {
          ev.target.style.fontWeight = ''
          ev.target.style.color = ''
        }
      },
      onClick (ev) {
        ev.target.style.color = 'brown'

        this.poem[ev.target.dataset.index].selected = true
      },
      goNext () {
        if (this.instructionIndex >= this.instructions.length - 1) {
          this.$router.push('/imagery')
        } else {
          this.instructionIndex++
        }
      },
      goBack () {
        if (this.instructionIndex !== 0) {
          this.instructionIndex--
        } else {
          this.$router.push('/inference')
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .diction-text {
    .title {
      line-height: 120%;
      font-size: 2.5em;
    }
    .content {
      line-height: 130%;
      font-size: 1.5em;
    }
  }

  .is-green, .is-red {
    width: 80%;
  }
</style>
