<template>
  <section class="hero is-fullheight"
           :style="{ backgroundImage: `url(${require(`@/assets/images/bg-background.jpg`)})` }">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-mobile is-vcentered">
          <div class="column is-5 imagery-text">
            <h1 class="title">Analyse Diction & Imagery</h1>

            <p class="content has-text-weight-bold" v-html="instruction.text"></p>

            <div class="box image-preview" v-show="showImageBox">
              <img :src="selectedItem.image"/>
            </div>

            <div class="buttons">
              <button class="button is-green is-medium is-rounded is-next" @click="goNext">
                <span class="button-icon">★</span>
                <span> Next </span>
              </button>

              <button class="button is-red is-medium is-rounded" @click="goBacktoDiction">
                <span class="button-icon">★</span>
                <span> Back to Diction </span>
              </button>
            </div>
          </div>

          <div class="column is-5 is-offset-1">
            <div class="columns is-mobile is-poem box is-multiline has-text-centered">
              <div class="column is-12">
                <h1 class="title">Palmistry</h1>
              </div>

              <div class="column">
                <div class="content poem-paragraph" :key="item.paragraph" v-for="item in poem">
                  <span v-html="item.paragraph"></span>

                  <button class="button is-purple is-left show-image" @click="showImage(item)" v-if="item.image">
                    <span class="icon is-large">
                      <i class="fas fa-search"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {

    name: 'Imagery',
    data () {
      return {
        instructionIndex: 0,
        instructions: [
          {
            text: '<p class="content">What are some images that come to mind as you read this poem? Click on the icon beside stanzas to see some examples. Are they like what you have visualised?</p>'
          },
          {
            text: '<p class="content">The images suggest a rather tentative relationship between the speaker and the person he/she is speaking to: how close do you think they are? How do they feel about each other?</p>' +
            '<p class="content">The poem contrasts the use of imperative verbs with the imagery of closeness, making the overall tone rather hesitant and tentative.</p>' +
            '<p class="content">What other aspects of diction and imagery can you identify in this poem?</p>'
          }
        ],
        poem: [
          {
            paragraph: '<span class="active-word">So take my hand and hold it, <br> bend it gently to the light.</span>',
            image: require(`@/assets/images/image-1.jpg`)
          },
          {
            paragraph: 'Discover me, in a way <br> that I do not know myself.'
          },
          {
            paragraph: 'Speak what you will, of my <br> health, fame and fortunes,'
          },
          {
            paragraph: 'but know that <span class="active-word">I will put a finger <br> to your gentle lips,</span>',
            image: require(`@/assets/images/image-2.jpg`)
          },
          {
            paragraph: 'if on love, you try to say <br> the things I should not know,'
          },
          {
            paragraph: 'like <span class="active-word">where you\'re going to <br> and how I will stay behind,</span>',
            image: require(`@/assets/images/image-3.jpg`)
          },
          {
            paragraph: 'how <span class="active-word">our separate ways <br> are written in these lines.</span>',
            image: require(`@/assets/images/image-4.jpg`)
          }
        ],
        showImageBox: false,
        selectedItem: {}
      }
    },
    computed: {
      instruction () {
        return this.instructions[this.instructionIndex]
      }
    },
    mounted () {
      const paragraphs = document.querySelectorAll('.poem-paragraph')

      paragraphs.forEach((paragraph, index) => {
        paragraph.setAttribute('id', `active-word-${index}`)
      })
    },
    methods: {
      showImage (item) {
        const index = this.poem.indexOf(item)

        const activeWord = document.querySelector(`#active-word-${index} > span > .active-word`)
        activeWord.style.textDecoration = 'underline purple'

        this.showImageBox = true
        this.selectedItem = item
      },
      goNext () {
        this.$router.push('/connect-dots')
      },
      goBacktoDiction () {
        this.$router.push('/diction')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .image-preview {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.5s;
  }

  .imagery-text {
    .title {
      line-height: 120%;
      font-size: 2.5em;
    }
    .content {
      line-height: 130%;
      font-size: 1.5em;
    }
  }

  .is-purple {
    width: 10%;
  }

  .poem-paragraph {
    position: relative;

    .show-image {
      position: absolute;
      left: 5%;
      top: 0;
    }
  }

  .is-green, .is-red {
    width: 90%;
  }
</style>
