<template>
  <section class="hero is-fullheight"
           :style="{ backgroundImage: `url(${require(`@/assets/images/bg-background.jpg`)})` }">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-mobile is-vcentered">
          <div class="column is-5">
            <div class="inference-title">
              <h1>{{ title }}</h1>
              <h2 class="has-text-weight-bold">{{ subtitle }}</h2>
            </div>

            <div class="buttons">
              <button class="button is-purple is-medium is-inference" :key="inference.name"
                      v-for="inference in inferences" @click="showInference(inference)">
                <span class="button-icon">★</span>
                <span>{{ inference.name }}</span>
              </button>
            </div>

            <transition enter-active-class="animated fadeIn">
              <button class="button is-green goto-diction" @click="gotoDiction" v-if="showNextButton">
                <span class="button-icon">★</span>
                <span>Next</span>
              </button>
            </transition>

            <button class="button is-red is-medium is-rounded" @click="gotoClues">
              <span class="button-icon">★</span>
              <span> Back to Clues</span>
            </button>
          </div>

          <div class="column is-4 is-vcentered">
            <div class="is-poem has-text-centered">
              <h1 class="title">Palmistry</h1>
              <h2 class="subtitle">by Gilbert Koh</h2>

              <p class="content is-text" :key="text.paragraph" v-for="text in poem.text">{{ text.paragraph }}</p>
            </div>
          </div>

          <div class="column is-4" v-if="isActive">
            <div class="notification content" :class="[ selectedInference.correct ? 'is-green' : 'is-red' ]">
              <h1 class="title has-text-centered" v-if="selectedInference.correct">Yay!</h1>
              <h1 class="has-text-centered" v-else> Oops.</h1>

              <p class="has-text-weight-bold" :key="text.paragraph" v-for="text in selectedInference.text">
                {{ text.paragraph }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Inference',
    data () {
      return {
        isActive: false,
        title: 'Make inferences from structure and style',
        subtitle: 'Which of these elements of structure and style do you observe in this poem? Click on all those that you think apply.',
        poem: {
          text: [
            { paragraph: 'So take my hand and hold it,\nbend it gently to the light.' },
            { paragraph: 'Discover me, in a way\nthat I do not know myself.' },
            { paragraph: 'Speak what you will, of my\nhealth, fame and fortunes,' },
            { paragraph: 'but know that I will put a finger\nto your gentle lips,' },
            { paragraph: 'if on love, you try to say\nthe things I should not know,' },
            { paragraph: 'like where you\'re going to\nand how I will stay behind,' },
            { paragraph: 'how our separate ways\nare written in these lines.' }
          ]
        },
        inferences: [
          {
            name: 'Run-on lines/ enjambment',
            correct: true,
            selected: false,
            text: [
              {
                paragraph: 'Yes, there is significant use of run-on lines, or enjambment, in this poem.'
              },
              {
                paragraph: 'The lines that flow to the next without any punctuation or stop are called run-on lines. These lines suggest fluidity across stanzas, but also seem to hold a pause when the line breaks. The effect of tentativeness – does the line flow over or does it wait? – captures a certain tone that is halting, uncertain.'
              }
            ]
          },
          {
            name: 'Conversational',
            correct: true,
            selected: false,
            text: [
              {
                paragraph: 'Yes, this poem does seem rather conversational. Perhaps it has to do with the fact that it begins mid-sentence, with the word "so". Do you feel like you’ve intruded on a private conversation?'
              },
              {
                paragraph: 'The conversational style creates an informal tone that draws the reader into the poem. Perhaps this adds to the sense of mystery of the setting of palm-reading as well.'
              }
            ]
          },
          {
            name: 'Use of couplets',
            selected: false,
            text: [
              {
                paragraph: 'Oops! No, this poem does not use couplets, even though there are two lines in each stanza. Remember that couplets are two rhyming lines of poetry that have the same number of syllables.'
              },
              {
                paragraph: 'It is interesting to notice though that the entire poem is in fact made up of only three complete sentences. What effect do the line breaks have on you?'
              },
              {
                paragraph: 'Click on the bubble on run-on lines to read more about line breaks.'
              }
            ]
          },
          {
            name: 'Second-person reference',
            correct: true,
            selected: false,
            text: [
              {
                paragraph: 'Yes, the speaker refers directly to the person he/she is talking to, so there is use of the second-person reference to "you".'
              },
              {
                paragraph: 'This makes the poem sound like an intimate conversation. If you think about the context of palm-reading in this poem, with the palm-reader holding the hand of the client, it does seem like a rather intimate picture, doesn\'t it?'
              },
              {
                paragraph: 'But is there anything in the poem that makes you think the speaker and the person he/she is with might not be so close after all?'
              }
            ]
          },
          {
            name: 'Rhyme Scheme',
            selected: false,
            text: [
              {
                paragraph: 'No, there isn\'t really a rhyme scheme in this poem. The last words of each line do not rhyme.'
              },
              {
                paragraph: 'What do you think about the rhythm of this poem though? Does it help you infer anything about the tone?'
              }
            ]
          }
        ],
        selectedInference: {}
      }
    },
    computed: {
      showNextButton () {
        const correctInferences = this.inferences.filter(inference => inference.correct)

        return correctInferences.every(inference => inference.selected === true)
      }
    },
    methods: {
      showInference (inference) {
        this.selectedInference = inference

        const index = this.inferences.indexOf(inference)
        this.inferences[index].selected = true

        this.isActive = true
      },
      closeModal () {
        this.selectedInference = {}
        this.isActive = false
      },
      gotoDiction () {
        this.$router.push('/diction')
      },
      gotoClues () {
        this.$router.push('/clue')
      }
    }
  }
</script>

<style lang="scss" scoped>

  .notification {
    color: #2b2b2b;
    mix-blend-mode: normal;
    width: 80%;
    padding: 10% 5%;

    .title {
      font-size: 2em;
      line-height: 120%;
    }

    .content {
      line-height: 130%;
      font-size: 1em;
    }
  }

  .inference-title {
    margin-bottom: 10%;

    h1 {
      font-size: 2.5em;
      font-weight: bold;
      line-height: 120%;
      margin-bottom: 3%;
    }

    h2 {
      font-size: 1.5em;
      line-height: 130%;
    }
  }

  .is-purple, .is-green, .is-red {
    width: 80%;
  }

  .is-red {
    margin-top: 2%;
  }
</style>
