<template>
  <section class="hero is-fullheight"
           :style="{ backgroundImage: `url(${require(`@/assets/images/bg-background.jpg`)})` }">
    <transition enter-active-class="animated fadeIn" leave-active-class="fadeOut">
      <div :key="showAnalyse" class="hero-body" v-if="!showAnalyse">
        <div class="container">
          <div class="columns is-mobile is-vcentered has-text-centered ">
            <div class="column title-screen">
              <h1 class="title is-size-1">Use of Tone</h1>
              <h2 class="subtitle is-size-2">in</h2>
              <h1 class="title is-size-1">Palmistry</h1>
            </div>
          </div>

          <div class="columns is-mobile is-centered has-text-centered is-fixed-bottom">
            <div class="column">
              <button class="button is-purple is-medium is-first-button" @click="setShowAnalyse">
                <span class="button-icon">★</span>
                <span> Next </span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="hero-body" v-else>
        <div class="container">
          <div class="columns is-mobile has-text-centered">
            <div class="column is-8 is-offset-2">
              <h1 class="title is-size-2">4 Ways to Analyse Tone in a Poem</h1>
            </div>
          </div>

          <div class="columns is-mobile">
            <div class="column" :key="path.name" v-for="(path, index) in paths">
              <div class="card card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title"> {{ index + 1 }}. {{ path.name }}</p>
                  </div>
                </div>

                <div class="content">
                  <div class="columns is-mobile is-centered has-text-centered">
                    <div class="column">
                      <button class="button is-medium is-purple is-section is-start" @click="gotoRoute(path)">
                        <span class="icon is-large"><i class="fas fa-caret-down"></i></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'Introduction',
    computed: {
      ...mapState(['showAnalyse'])
    },
    data () {
      return {
        paths: [
          { name: 'Find clues in the title', link: '/clue' },
          { name: 'Make inferences from structure and style', link: '/inference' },
          { name: 'Analyse diction and imagery', link: '/diction' },
          { name: 'Connect the dots', link: '/connect-dots' }
        ]
      }
    },
    methods: {
      gotoRoute (path) {
        this.$router.push(path.link)
      },
      setShowAnalyse () {
        this.$store.commit('isShowAnalyse')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .card,
  .box {
    background-color: rgba(255, 255, 255, 0.75);
    border: none;
    box-shadow: none;
  }

  .card {
    min-height: 30vh;
    position: relative;
    padding: 0;
    border-radius: 25px;

    .media {
      padding: 8% 7% 0;

      .title {
        font-size: 1.5em;
      }
    }

    .content {
      position: absolute;
      width: 100%;
      bottom: 5%;
    }
  }

  .is-section {
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .is-first-button {
    width: 30% !important;
    bottom: 10vh !important;
  }

  .is-purple {
    width: 80%;
  }

  .is-fixed-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 5vh;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0%);
    }

    50% {
      transform: translateY(5%);
    }
  }
</style>
