<template>
  <section class="hero is-fullheight"
           :style="{ backgroundImage: `url(${require(`@/assets/images/bg-background.jpg`)})` }">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-mobile is-vcentered">
          <div class="column is-6">
            <div class="box is-intro has-text-weight-bold">
              <p class="content" :key="text.paragraph" v-for="text in content.text">
                {{ text.paragraph }}
              </p>

              <div class="columns is-multiline is-mobile">
                <div class="column is-12">
                  <button class="button is-purple is-medium play-button" @click="playAsset(content.asset)">
                    <span class="button-icon">★</span>
                    <span class="button-text">{{ content.button }}</span>
                  </button>
                </div>

                <div class="column is-12">
                  <transition enter-active-class="animated fadeInUp" leave-active-class="animated fadeOutDown">
                    <button class="button is-medium is-green is-next" @click="goNext">
                      <span class="button-icon">★</span>
                      <span> Next </span>
                    </button>
                  </transition>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-5 is-offset-1 is-vcentered">
            <div class="box is-poem has-text-centered">
              <h1 class="title">Palmistry</h1>
              <h2 class="subtitle">by Gilbert Koh</h2>

              <p class="content is-text" :key="text.paragraph" v-for="text in poem.text">{{ text.paragraph }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <audio id="poem" @ended="onAudioEnded"></audio>

    <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
      <video-modal :content="content" :isActive="isActive" @videoEnded="onVideoEnded" @closeModal="closeModal"
                   v-if="isActive"/>
    </transition>
  </section>
</template>

<script>
  import VideoModal from '@/components/VideoModal'

  export default {
    name: 'MediaContent',
    components: { VideoModal },
    data () {
      return {
        poem: {
          text: [
            { paragraph: 'So take my hand and hold it,\nbend it gently to the light.' },
            { paragraph: 'Discover me, in a way\nthat I do not know myself.' },
            { paragraph: 'Speak what you will, of my\nhealth, fame and fortunes,' },
            { paragraph: 'but know that I will put a finger\nto your gentle lips,' },
            { paragraph: 'if on love, you try to say\nthe things I should not know,' },
            { paragraph: 'like where you\'re going to\nand how I will stay behind,' },
            { paragraph: 'how our separate ways\nare written in these lines.' }
          ]
        },
        contentIndex: 0,
        contents: [
          {
            asset: {
              path: require(`@/assets/audio/palmistry-voice.mp3`),
              type: 'audio'
            },
            button: 'Listen to the poem',
            text: [
              { paragraph: 'As you listen to a recording of the poem "Palmistry" by Gilbert Koh, think about the following questions:' },
              { paragraph: 'Which words do you find striking? What images come to your mind?' },
              { paragraph: 'Jot down some notes for these two questions as you listen to the poem being read aloud!' }
            ]
          },
          {
            asset: {
              path: require(`@/assets/video/palmistry-poem.mp4`),
              type: 'video'
            },
            button: 'Watch the Video',
            text: [
              { paragraph: 'Now, let\'s listen to the recording again, this time with some illustrations that show one possible way of interpreting this poem. Visualising a poem helps us read it better. See if you visualised the poem in similar ways as you view the poem read aloud.' }
            ]
          }
        ],
        isActive: false,
        isPlaying: false
      }
    },
    computed: {
      content () {
        return this.contents[this.contentIndex]
      }
    },
    methods: {
      playAsset (asset) {
        switch (asset.type) {
          case 'audio':
            const audio = document.getElementById('poem')
            audio.src = asset.path
            audio.load()

            audio.play()

            this.isPlaying = true
            break
          case 'video':
            this.isActive = true
            break
        }
      },
      onAudioEnded () {
        this.isPlaying = false
      },
      onVideoEnded () {
        this.isActive = false
      },
      closeModal () {
        this.isActive = false
      },
      goNext () {
        if (this.contentIndex >= this.contents.length - 1) {
          this.$router.push('/introduction')
        } else {
          const audio = document.getElementById('poem')
          audio.pause()

          this.contentIndex++
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  section {
    background-size: cover;
  }

  .is-fixed-bottom {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .is-intro {
    background-color: transparent;
    box-shadow: none;

    p {
      line-height: 130%;
      font-size: 1.5em;
    }
  }

  .is-purple {
    width: 100%;
  }
</style>
