<template>
  <section class="hero is-fullheight" :style="{ backgroundImage: `url(${require(`@/assets/images/bg-background.jpg`)})` }">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-mobile has-text-centered">
          <div class="column">
            <h1 class="title">Summary: <br/> How to Analyse Tone in a Poem</h1>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="column" :key="item.text" v-for="(item, index) in items">
            <div class="is-poem">
              <p class="content has-text-weight-bold">
                {{ index + 1 }}. {{ item.text }}

                <a :href="item.link" target="_blank" rel="noopener" v-if="item.link">{{ item.link }}</a>
              </p>
            </div>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="column is-12">
            <div class="buttons is-centered">
              <button class="button is-green is-large restart-button" @click="restart">
                <span class="button-icon">★</span>
                <span> Restart </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'SummaryView',
    data () {
      return {
        items: [
          {
            text: 'You have learnt to analyse tone by looking at a poem’s title, structure and style, diction and imagery'
          },
          {
            text: 'One resource you could refer to for more words to describe tone is:',
            link: 'https://www.poetryinvoice.com/teachers/lesson-plans/tone-map/tone-list'
          },
          {
            text: 'Remember that tone is just one aspect of a poem. Think about how the various elements of style come together to help you make sense of a poem.'
          }
        ]
      }
    },
    methods: {
      restart () {
        this.$router.push('/')
        window.location.reload()
      }
    }
  }
</script>

<style lang="scss" scoped>
  .restart-button {
    width: 30%;
  }

  .is-poem {
    padding: 5% 3% 0;
    min-height: 30vh;
  }
</style>
