<template>
  <div class="modal" :class="{ 'is-active': isActive }">
    <div class="modal-background" @click="closeModal"></div>

    <div class="modal-content">
      <video :src="content.asset.path" autoplay controls @ended="onVideoEnded"></video>
    </div>

    <button class="modal-close is-large" aria-label="close" @click="closeModal"></button>
  </div>
</template>

<script>
  export default {
    name: 'MediaModal',
    props: {
      content: Object,
      isActive: Boolean
    },
    mounted () {
      window.addEventListener('keyup', ev => {
        if (ev.key === 'Escape') this.closeModal()
      })
    },
    methods: {
      onVideoEnded () {
        this.$emit('videoEnded')
      },
      closeModal () {
        const video = this.$el.querySelector('video')
        video.pause()

        this.$emit('closeModal')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .modal-content {
    width: 80%;
  }
</style>
