<template>
  <div id="app">
    <div v-show="correctScreen">
      <transition enter-active-class="animated fadeIn">
        <router-view/>
      </transition>

      <div class="buttons">
        <button class="button is-medium goto-home" @click="goHome">
          <i class="fas fa-home"></i>
        </button>

        <button class="button is-medium video-button" @click="gotoVideo">
          <i class="fas fa-video"></i>
        </button>
      </div>
    </div>

    <transition enter-active-class="animated fadeIn">
      <div :key="correctScreen" class="hero is-fullheight rotate-screen"
           :style="{ backgroundImage: `url(${require(`@/assets/images/bg-background.jpg`)})` }" v-show="!correctScreen">
        <div class="column has-text-centered rotate-screen-text">
          <h1 class="content title is-uppercase is-poem">Please adjust your screen size</h1>
        </div>
      </div>
    </transition>

    <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
      <video-modal :isActive="isModalActive" :content="content" @closeModal="closeModal"
                   v-if="isModalActive"></video-modal>
    </transition>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import VideoModal from '@/components/VideoModal'

  export default {
    name: 'App',
    components: { VideoModal },
    data () {
      return {
        isModalActive: false,
        content: {
          asset: {
            path: require(`@/assets/video/palmistry-poem.mp4`)
          }
        }
      }
    },
    computed: {
      ...mapState(['correctScreen'])
    },
    mounted () {
      this.invokeOrientationChange()
      window.addEventListener('resize', this.invokeOrientationChange)
    },
    methods: {
      invokeOrientationChange () {
        this.$store.commit('correctScreen', window.innerWidth > window.innerHeight && window.innerHeight > window.innerWidth / 3)
      },
      goHome () {
        this.$router.push('/introduction')
      },
      gotoVideo () {
        this.isModalActive = true
      },
      closeModal () {
        this.isModalActive = false
      }
    }
  }
</script>

<style lang="scss">
  @import './sass/app.scss';

  @font-face {
    font-family: 'Milonga';
    src: url("./assets/fonts/Milonga.ttf") format('truetype');
  }

  @font-face {
    font-family: 'hurme-geometric-sans-light';
    src: url("./assets/fonts/hurme-geometric-sans-light.otf") format('opentype');
  }

  $hurme: 'hurme-geometric-sans-light', sans-serif;

  section {
    background-size: cover;
    background-repeat: repeat-y;
    font-size: 1vw;
    font-family: $hurme;
  }

  button {
    font-size: 1.2em !important;
  }

  .goto-home, .video-button {
    position: fixed;
    background-color: #A3ED;
    border: none;
    mix-blend-mode: multiply;
    transition: all 1s;
    color: whitesmoke;

    &:hover {
      color: #65E7CA;
      mix-blend-mode: unset;
    }

    &:focus {
      color: #65E7CA;
      mix-blend-mode: unset;
    }
  }

  .goto-home {
    top: 5%;
    left: 2.5%;
  }

  .video-button {
    top: 15%;
    left: 2.5%;
  }

  .is-poem {
    background-color: rgba(255, 255, 255, 0.5);
    white-space: pre-line;
    font-family: 'Milonga', sans-serif !important;
    border: thick solid white;
    padding: 5% 0;

    h1 {
      font-size: 2.4em;
    }

    h2 {
      font-size: 1.5em;
    }

    p {
      font-size: 1.1em;
    }

    .is-text {
      line-height: 130%;
    }
  }

  .is-green {
    background-color: #65E7CA;
    border: none;
    border-radius: 25px;
    mix-blend-mode: multiply;
    width: 100%;
    color: whitesmoke;
    transition: all 1s;

    .button-icon {
      position: absolute;
      left: 10%;
    }

    &:hover {
      color: #A3ED;
      mix-blend-mode: unset;

      .button-icon {
        color: #A3ED;
        transition: all 1s;
        left: 85%;
      }
    }

    &:disabled {
      pointer-events: none;
    }
  }

  .is-purple {
    background-color: #A3ED;
    border: none;
    border-radius: 25px;
    mix-blend-mode: multiply;
    position: relative;
    color: whitesmoke;
    transition: all 1s;

    .button-icon {
      position: absolute;
      left: 10%;
    }

    &:hover {
      color: #65E7CA;
      mix-blend-mode: unset;

      .button-icon {
        color: #65E7CA;
        transition: all 1s;
        left: 85%;
      }
    }

    &:focus {
      color: #65E7CA;
      mix-blend-mode: unset;
    }

    &:disabled {
      color: transparent;
      pointer-events: none;
    }
  }

  .is-red {
    background-color: #ff7b76;
    border: none;
    border-radius: 25px;
    mix-blend-mode: multiply;
    width: 100%;
    position: relative;
    color: whitesmoke;
    transition: all 1s;

    .button-icon {
      position: absolute;
      left: 10%;
    }

    &:hover {
      color: #F6E4C4;
      mix-blend-mode: unset;

      .button-icon {
        color: #F6E4C4;
        transition: all 1s;
        left: 85%;
      }
    }

    &:disabled {
      pointer-events: none;
    }
  }

  .rotate-screen {
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;

    .rotate-screen-text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
</style>
